@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 240px;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-item ul {
  display: flex;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-logo ul {
  list-style: none;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700px;
}
.g-color {
  color: #ff42a5;
}

.nav-item {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.nav-item ul {
  align-items: center;
}
.nav-item ul li {
  margin-right: 32px;
  list-style: none;
}
.nav-item ul a {
  margin-left: 32px;
  text-decoration: none;
}
.nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  border: 0;
  margin-left: 32px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500px;
}

/* play like the g.o.a.t section style */

.play-like-section {
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
}

.play-like-section-item h3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 400px;
  text-transform: uppercase;
}

.play-like-section-item h1 {
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-like-section-description {
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 17px;
}

.sign-in {
  color: #fff;
  font-size: 20px;
  font-weight: 600px;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0;
  margin-top: 40px;
  margin-right: 24px;
}

.go-rogue {
  color: #fff;
  font-size: 20px;
  font-weight: 600px;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  border: 0;
  /* margin-top: 40px; */
}

.image-size {
  width: 100%;
}

/* we are gamer section style */
.we-are-gamer-section-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin: 0 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we-are-gamer-section-image img {
  padding: 50px auto;
  width: 100%;
}
.we-are-gamer-section-item {
  text-align: right;
}

.we-are-gamer {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.we-are-gamer-description {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400px;
  line-height: 30px;
  margin: 24px auto;
  text-align: right;
}

.know-more {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0;
}

.our-purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500px;
  line-height: 45px;
  margin-top: 24px;
}

.unleash {
  color: #534c64;
  font-size: 24px;
  font-style: normal;
  font-weight: 300px;
}
.our-purpose {
  font-weight: 300px;
}

.online-games-images {
  display: flex;
  justify-content: space-between;
  margin: auto 240px;
}

.online-games-container > h3,
p {
  text-align: center;
}

.online-games-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700px;
  margin-top: 120px;
  margin-bottom: 16px;
}

.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  margin-bottom: 48px;
}

.online-games-image-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500px;
  line-height: 30px;
  text-align: left;
  margin-top: 24px;
}

/* paly instantly section style */

.play-instantly-section-container {
  display: flex;
  padding: 0 240px;
  justify-content: space-around;
  margin-top: 120px;
  align-items: center;
}
.play-instantly-section-item {
  text-align: right;
}

.play-instantly-section-image {
  flex-shrink: 0;
}
.play-instantly-title > span {
  font-size: 48px;
  font-weight: 700px;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instantly-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700px;
  line-height: 60px;
}

.play-instantly-despription {
  color: #534c64;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  text-align: right;
}

.play-instantly-section-image {
  position: relative;
}
/* .play-instantly-image{
  justify-content: right;
} */
.overlap-image {
  position: absolute;
  left: -160px;
  bottom: -80px;
}
/* paly game online section styles */

.play-game-online-section-container {
  display: flex;
  justify-content: space-around;
  padding: 0 240px;
  margin-top: 200px;
  align-items: center;
  margin-bottom: 120px;
}

.play-game-online-section-image {
  position: relative;
}

.play-game-online-overlap-image {
  position: absolute;
  right: -150px;
  bottom: -120px;
}

.play-game-online-section-item {
  padding-left: 220px;
}

.play-game-online-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0b0223;
  margin-bottom: 24px;
}

.play-games,
.online {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-game-online-despription {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

/* career section styles */
.career-section-container {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.career-section-item-content {
  margin: 200px 0 200px 240px;
  display: flex;
  justify-content: space-between;
}

.career-content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cateer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
}
.career-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
  text-align: left;
}

.career-options-container {
  display: flex;
  justify-content: space-between;
}

.career-skills,
.career-location {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.career-location {
  text-align: right;
}
.career-btn {
  border-radius: 48px;
  background: #fff;
  padding: 21px 40px;
  border: 0;

  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FF42A5;
  margin-top: 40px;
  
}
/* responsive style start */
/* responsive style start */

/* responsive style for mobile devcie */

@media screen and (max-width: 576px) {
  .nav-container {
    padding: 20px 50px;
    flex-direction: column;
  }
  .nav-logo {
    margin-top: 50px;
    margin-bottom: 36px;
  }
  .nav-item ul {
    flex-direction: column;
    padding-bottom: 36px;
  }
  .nav-item ul li {
    margin-bottom: 36px;
  }

  .play-like-section {
    flex-direction: column-reverse;
  }

  .play-like-section {
    padding: 20px 20px;
  }
  .play-like-section {
    width: 100%;
  }

  /* we are gammer */
  .we-are-gamer-section-container {
    flex-direction: column;
    margin: 0 10px;
  }
  .we-are-gamer-section-image img {
    width: 100%;
    padding: 5px;
  }
  .we-are-gamer-section-item,
  .we-are-gamer-description,
  .our-purpose {
    text-align: center;
  }

  /* online game funny game */

  .online-games-images {
    flex-direction: column;
    margin: 0 15px;
    text-align: center;
  }
  .image-card {
    margin-bottom: 50px;
  }

  /* play instantly */

  .play-instantly-section-container {
    flex-direction: column;
    padding: 20px 15px;
  }

  .play-instantly-section-item {
    text-align: left;
  }

  .play-instantly-image {
    width: 100%;
  }
  .overlap-image {
    width: 50%;
    left: 100px;
  }
}

@media screen and (min-width: 567px) and (max-width: 1112px) {
  .nav-container {
    padding: 30px 50px;
  }
}
